/* global markup & reset props */
* {
    margin: 0;
    padding: 0;
}
body {
    background: #000;
    box-sizing: border-box;
    font-family: 'Fahkwang', sans-serif;
    text-align: center;
}
/* header + footer props */
header.header,
footer.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0px;
}
/* section props */
section.application,
section.information {
    padding: 50px 0px;
    margin: 10px auto;
}
section h1 {
    color: #fff;
}
/* form input props for mobile */
/* form wrapper */
form.application__form {
    padding: 20px 0px;
}
/* form labels + input props */
form label {
    background-color: 000;
    border-bottom: 2px solid #000;;
    padding: 10px;
    width: 100%;
}
form input {
    border: 2px solid #000;
    width: 100%;
    height: 50px;
    padding: 20px 0px;
    text-align: center;
}
form button {
    background: inherit;
    border: 2px solid #fff;
    border-radius: 10px;
    color: #fff;
    letter-spacing: 2px;
    padding: 2px;
    width: 100px;
    height: 50px;

    transition-property: all 2s ease;
    transition-duration: 1s;
    transition-timing-function: ease;

}
form button:hover {
    background: red;
    /* font-weight: bold; */
    text-decoration: underline;
    transform: scale(1.1);
    box-shadow: 8px 8px #333;


}
/* form output props for mobile */
/* form output display */
.app__container {
    color: #fff;
    margin: 50px auto;
    padding: 10px;
    
}

.app__output {
    border: 2px solid #fff;
    background: inherit;
    display: flex;
    flex-direction: column;
    
    /* display: flex; */
    /* height: 50px;
    padding: 10px;
    width: 90%;
    margin: 10px auto;
    justify-content: center;
    align-items: center; */
}
.app__output h3 {
    font-weight: bolder;
    letter-spacing: 5px;
    text-decoration: underline;
}
.app__output a {
    /* margin: 10px auto; */
    color: #fff;
    letter-spacing: 0;
    padding: 0px;
}
/* application output buttons [visit] & [delete] */
.app__btn {
    background: red;
    border: 2px solid #fff;
    border-radius: 10px;
    color: #fff;
    height: 50px;
    max-height: 50px;
    margin: 12px auto;
    text-decoration: underline;
    width: 150px;
    max-width: 150px;
    padding: 20px;

}
.btn__delete {
    background: grey;
    /* width: auto; */
}
/* font awesome icons */
/* animated banner bookmarks icon */
section.application i{
    animation-name: iconRotate;
    animation-direction: alternate;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    background: #000;
    color: red;
    font-size: 100px;
    padding: 20px 0px;
}
.app__container i {
    color: #fff;
}

@keyframes iconRotate {
    0% {transform: rotateY(0deg);}
    50% {transform: rotateY(180deg);}
    100% {transform: rotateY(360deg);}
}

/* header dropdown icon */
header.header i {
    padding: 20px;
}



@media screen and (min-width: 960px) {
    /* application output buttons [visit] & [delete] */
    .app__btn {
        margin-right: 20px;
    }
    .app__output {
        margin: auto;
        max-width: 1150px;
        flex-direction: row;
        flex-wrap: wrap;
        
    }
    .flex__item {
        flex: 33.3%;
    }
    /* span placement */
    span.left {float: left;}
    span.right {float: right;}

    .clearfix {
        clear: both;
    }
    /* form for desktop view */
    form input {
        max-width: 1150px;
    }
}